/* Row Margin Offsets */

.voffset{
	margin-top:30px;
}

.fa-chevron-right{
	color:#345ba9;
}

.fa-chevron-left{
	color:#345ba9;
}

.voffset .bordered {
    height: 350px;
    overflow-y: auto;
}


/* = Lightbox
-------------------------------------------------------------- */

a[data-lightbox]{
	position: relative;
	display: block;
	text-align: center;
}
a[data-lightbox]:hover::before{
	content:"+";
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
	font-size:32px;
	width:50px;
	height:50px;
	margin-left:-25px;
	border-radius: 50%;
	background:rgba(0,0,0,.6);
	color:#FFF;
	font-weight:100;
	z-index: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
a[data-lightbox]:hover img{
	opacity: 0.6;
	-webkit-animation-fill-mode: none;
	animation-fill-mode:none;
}
#lightbox-modal .modal-dialog{
	width:90%;
	max-width:900px;
	margin:30px auto 0;
}
#lightbox-modal .modal-dialog img{
	margin: 0 auto;
}
.lightbox-caption{
	padding: 20px;
	color: #FFF;
	background: rgba(0,0,0,.5);
	position: absolute;
	left: 15px;
	right: 15px;
	bottom: 5px;
}
.close-lightbox{
	display: none;
	font-size: 40px;
	position: absolute;
	top:8px;
	right:20px;
	z-index: 20;
}
.next-lightbox, .prev-lightbox{
	font-size:20px;
	color:rgba(255,255,255,.4);
	transition: all .2s ease-in-out;
	position: absolute;
	top:50%;
	z-index:1;
}
.next-lightbox{
	right:25px;
}
.prev-lightbox{
	left:25px;
}
.prev-lightbox:hover, .next-lightbox:hover{
	color:rgba(255,255,255,.9);
}


    .voffset{
        margin-top:5px;
    }
    .voffset-md{
        margin-top:20px;
    }
    .voffset-lg{
        margin-top:30px;
    }
